<div class="animated fadeIn">


<!--Ficha y Transacciones -->
  <div class="row">

<!--Ficha de Empresa -->
    <div class="col-md-3">
      <div class="card">
        <div class="card-block">
            <div class="form-group row">
              <div class="col-md-12">
                <h4><i class="icon-user"></i> Fernanda Lopez</h4>
              </div>
            </div>
            <img src="assets/img/avatars/5.jpg" class="img-responsive">
            <table class="table table-responsive">
              <tr>
                <td>
                  Estatus
                </td>
                <td>
                  <span class="text-success"><b><i class="fa fa-circle"></i> Activo</b></span>
                </td>
              </tr>
              <tr>
                <td>
                  Cliente desde
                </td>
                <td>
                  <b>20/Nov/2009</b>
                </td>
              </tr>
              <tr>
                <td>
                  Correo electrónico
                </td>
                <td>
                  <b>flopez@yopmail.com</b>
                </td>
              </tr>
              <tr>
                <td>
                  Servicios Restantes
                </td>
                <td>
                  3 Grúas al año
                  <br>
                  2 Baterías al año
                  <br>
                  2 Gasolinas al año
                  <br>
                  Gastos funerarios
                </td>
              </tr>
            </table>
          <button class="btn btn-outline-primary btn-block" type="button"><i class="fa fa-pencil icon-btn"></i>&nbsp; Editar</button>
          <button class="btn btn-outline-primary btn-block" type="button"><i class="fa fa-briefcase icon-btn"></i>&nbsp; Ver Condiciones</button>
          <button class="btn btn-outline-danger btn-block" type="button"><i class="fa fa-times icon-btn"></i>&nbsp; Desactivar</button>
        </div>
      </div>
    </div>
    
  <!--Transacciones -->
    <div class="col-md-9">
    <h4><i class="icon-question"></i> Soporte Técnico</h4>
    <br>
      <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="card card-accent-success">
                <div class="card-header">
                    Fernanda Lopez <small class="text-muted pull-right">Febrero 15, 2017 08:09:32 AM</small>
                </div>
                <div class="card-block">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
      </div>
        <div class="row">
        <div class="col-sm-12 offset-md-4 col-md-8">
            <div class="card card-accent-danger">
                <div class="card-header">
                    Telemedic <small class="text-muted pull-right">Febrero 15, 2017 08:09:32 AM</small>
                </div>
                <div class="card-block">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="card card-accent-success">
                <div class="card-header">
                    Fernanda Lopez <small class="text-muted pull-right">Febrero 15, 2017 08:09:32 AM</small>
                </div>
                <div class="card-block">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-12 offset-md-4 col-md-8">
            <div class="card card-accent-danger">
                <div class="card-header">
                    Telemedic <small class="text-muted pull-right">Febrero 15, 2017 08:09:32 AM</small>
                </div>
                <div class="card-block">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
      </div>
      <h5><i class="fa fa-edit"></i> Contactar</h5>
      <textarea class="form-control" id="textarea-input" name="textarea-input" placeholder="Escribe tu mensaje.." rows="9"></textarea>
      <br>
      <button class="btn btn-outline-primary" type="button"><i class="fa fa-send icon-btn"></i>&nbsp; Enviar</button>
      <br><br><br>
    </div><!--/.col-->
  </div><!--/.row-->











</div>

