<div class="animated fadeIn">


<!--Ficha y Transacciones -->
  <div class="row">

<!--Ficha de Empresa -->
    <div class="col-md-3">
      <div class="card">
        <div class="card-block">
            <div class="form-group row">
              <div class="col-md-12">
                <h4><i class="icon-briefcase"></i> Coppel</h4>
              </div>
            </div>
            <img src="assets/img/coppel.png" class="img-responsive">
            <table class="table table-responsive">
              <tr>
                <td>
                  Estatus
                </td>
                <td>
                  <span class="text-success"><b><i class="fa fa-circle"></i> Activo</b></span>
                </td>
              </tr>
              <tr>
                <td>
                  Cliente desde
                </td>
                <td>
                  <b>20/Nov/2009</b>
                </td>
              </tr>
              <tr>
                <td>
                  Contacto Principal
                </td>
                <td>
                  <b>Diana Rojas</b><br>drojas@coppel.com
                </td>
              </tr>
              <tr>
                <td>
                  Condiciones del Servicio
                </td>
                <td>
                  3 Grúas al año
                  <br>
                  2 Baterías al año
                  <br>
                  2 Gasolinas al año
                  <br>
                  Gastos funerarios
                </td>
              </tr>
            </table>
          <button class="btn btn-outline-primary btn-block" type="button"><i class="fa fa-pencil icon-btn"></i>&nbsp; Editar</button>
          <button class="btn btn-outline-primary btn-block" type="button"><i class="fa fa-briefcase icon-btn"></i>&nbsp; Ver Condiciones</button>
          <button class="btn btn-outline-danger btn-block" type="button"><i class="fa fa-times icon-btn"></i>&nbsp; Desactivar</button>
          <hr>
          <button class="btn btn-outline-primary btn-block" type="button"><i class="fa fa-download icon-btn"></i>&nbsp; Descargar Datos</button>
        </div>
      </div>
    </div>
    
  <!--Transacciones -->
    <div class="col-md-9">
    <!-- KPIs WhiteBG -->
  <div class="row">
    <div class="col-sm-6 col-md-2">
      <div class="card">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-people"></i>
          </div>
          <div class="h4 mb-0">87.500</div>
          <small class="text-muted text-uppercase font-weight-bold">Usuarios</small>
          <div class="progress progress-xs mt-3 mb-0">
            <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-user-follow"></i>
          </div>
          <div class="h4 mb-0">385</div>
          <small class="text-muted text-uppercase font-weight-bold">Registros</small>
          <div class="progress progress-xs mt-3 mb-0">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-basket-loaded"></i>
          </div>
          <div class="h4 mb-0">1238</div>
          <small class="text-muted text-uppercase font-weight-bold">Servicios</small>
          <div class="progress progress-xs mt-3 mb-0">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-pie-chart"></i>
          </div>
          <div class="h4 mb-0">28%</div>
          <small class="text-muted text-uppercase font-weight-bold">Recurrencia</small>
          <div class="progress progress-xs mt-3 mb-0">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-speedometer"></i>
          </div>
          <div class="h4 mb-0">5:34:11</div>
          <small class="text-muted text-uppercase font-weight-bold">Tiempo</small>
          <div class="progress progress-xs mt-3 mb-0">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-speech"></i>
          </div>
          <div class="h4 mb-0">972</div>
          <small class="text-muted text-uppercase font-weight-bold">Comentarios</small>
          <div class="progress progress-xs mt-3 mb-0">
            <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
      <div class="card">
        <div class="card-header">
          Últimas Transacciones
        </div>
        <div class="card-block">
          <div class="table-responsive"></div>
          <table class="table table-responsive table-hover mb-0">
            <thead class="">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>Usuario</th>
                <th class="text-center">Estado</th>
                <th>Monto</th>
                <th class="text-center">Pago</th>
                <th>Actividad</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/1.jpg">

                  </div>
                </td>
                <td>
                  <div>Yiorgos Avraamu</div>
                  <div class="small text-muted">
                    <span>Nuevo</span> | Registrado: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <b class="text-muted">CDMX</b>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>50%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fa fa-cc-mastercard" style="font-size:24px"></i>
                </td>
                <td>
                  <div class="small text-muted">Cerrado:</div>
                  <strong>10 sec ago</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/2.jpg">

                  </div>
                </td>
                <td>
                  <div>Avram Tarasios</div>
                  <div class="small text-muted">

                    <span>Recurring</span> | Registrado: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <b class="text-muted">AGS</b>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>10%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fa fa-cc-visa" style="font-size:24px"></i>
                </td>
                <td>
                  <div class="small text-muted">Cerrado:</div>
                  <strong>5 minutes ago</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                  </div>
                </td>
                <td>
                  <div>Quintin Ed</div>
                  <div class="small text-muted">
                    <span>Nuevo</span> | Registrado: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <b class="text-muted">OAX</b>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>74%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 74%" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fa fa-cc-stripe" style="font-size:24px"></i>
                </td>
                <td>
                  <div class="small text-muted">Cerrado:</div>
                  <strong>1 hour ago</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/4.jpg">
                    <span class="avatar-status badge-default"></span>
                  </div>
                </td>
                <td>
                  <div>Enéas Kwadwo</div>
                  <div class="small text-muted">
                    <span>Nuevo</span> | Registrado: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <b class="text-muted">GTO</b>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>98%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fa fa-paypal" style="font-size:24px"></i>
                </td>
                <td>
                  <div class="small text-muted">Cerrado:</div>
                  <strong>Last month</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/5.jpg">

                  </div>
                </td>
                <td>
                  <div>Agapetus Tadeáš</div>
                  <div class="small text-muted">
                    <span>Nuevo</span> | Registrado: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <b class="text-muted">CDMX</b>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>22%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 22%" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fa fa-google-wallet" style="font-size:24px"></i>
                </td>
                <td>
                  <div class="small text-muted">Cerrado:</div>
                  <strong>Last week</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/6.jpg">

                  </div>
                </td>
                <td>
                  <div>Friderik Dávid</div>
                  <div class="small text-muted">
                    <span>Nuevo</span> | Registrado: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <b class="text-muted">JAL</b>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>43%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fa fa-cc-amex" style="font-size:24px"></i>
                </td>
                <td>
                  <div class="small text-muted">Cerrado:</div>
                  <strong>Yesterday</strong>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Ant.</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Sig.</a></li>
          </ul>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->











</div>
