<div class="animated fadeIn" style="padding: 0;">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
            <div class="form-group row">
              <div class="col-md-8">
                <h5><i class="icon-map"></i> Mapa En Vivo</h5>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                   <input class="form-control" id="input1-group2" name="input1-group2" placeholder="Buscar Usuario" type="text">
                 <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i> Buscar</button>
                  </span>
                 <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><i class="fa fa-plus"></i> Nuevo</button>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-9">
                <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.058899402543!2d-99.2660419855173!3d19.366602186921863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d200c4c0a26fd7%3A0xd84b682383294a1e!2sGuillermo+Gonz%C3%A1lez+Camarena%2C+Santa+Fe%2C+Zedec+Sta+F%C3%A9%2C+01219+Ciudad+de+M%C3%A9xico%2C+CDMX!5e0!3m2!1sen!2smx!4v1501134984321&z=9" width="100%" height="100%" frameborder="0" style="border:0; min-height: 100%" allowfullscreen></iframe>                
              </div>
              <div class="col-sm-12 col-md-3">
                <h5>Gruas Activas</h5>
                <ul class="icons-list">
                    <li>
                        <i class="fa fa-car bg-success"></i>
                        <div class="desc">
                            <div class="title">Joel F.</div>
                            <small>012AGS23</small>
                        </div>
                        <div class="value">
                            <div class="small text-muted">Gruas del Valle</div>
                            <strong>Disponible</strong>
                        </div>
                        <div class="actions">
                            <button class="btn btn-link text-muted" type="button"><i class="icon-more"></i></button>
                        </div>
                      </li>
                    <li>
                        <i class="fa fa-car bg-warning"></i>
                        <div class="desc">
                            <div class="title">Andrés D.</div>
                            <small>012AGS23</small>
                        </div>
                        <div class="value">
                            <div class="small text-muted">Gruas del Valle</div>
                            <strong>En Servicio</strong>
                        </div>
                        <div class="actions">
                            <button class="btn btn-link text-muted" type="button"><i class="icon-more"></i></button>
                        </div>
                      </li>
                    <li>
                        <i class="fa fa-car bg-success"></i>
                        <div class="desc">
                            <div class="title">Joel F.</div>
                            <small>012AGS23</small>
                        </div>
                        <div class="value">
                            <div class="small text-muted">Gruas del Valle</div>
                            <strong>Disponible</strong>
                        </div>
                        <div class="actions">
                            <button class="btn btn-link text-muted" type="button"><i class="icon-more"></i></button>
                        </div>
                      </li>
                    <li>
                        <i class="fa fa-car bg-success"></i>
                        <div class="desc">
                            <div class="title">Joel F.</div>
                            <small>012AGS23</small>
                        </div>
                        <div class="value">
                            <div class="small text-muted">Gruas del Valle</div>
                            <strong>Disponible</strong>
                        </div>
                        <div class="actions">
                            <button class="btn btn-link text-muted" type="button"><i class="icon-more"></i></button>
                        </div>
                      </li>
                    <li>
                        <i class="fa fa-car bg-success"></i>
                        <div class="desc">
                            <div class="title">Joel F.</div>
                            <small>012AGS23</small>
                        </div>
                        <div class="value">
                            <div class="small text-muted">Gruas del Valle</div>
                            <strong>Disponible</strong>
                        </div>
                        <div class="actions">
                            <button class="btn btn-link text-muted" type="button"><i class="icon-more"></i></button>
                        </div>
                      </li>
                    <li>
                        <i class="fa fa-car bg-warning"></i>
                        <div class="desc">
                            <div class="title">Andrés D.</div>
                            <small>012AGS23</small>
                        </div>
                        <div class="value">
                            <div class="small text-muted">Gruas del Valle</div>
                            <strong>En Servicio</strong>
                        </div>
                        <div class="actions">
                            <button class="btn btn-link text-muted" type="button"><i class="icon-more"></i></button>
                        </div>
                      </li>
                    <li>
                        <i class="fa fa-car bg-success"></i>
                        <div class="desc">
                            <div class="title">Joel F.</div>
                            <small>012AGS23</small>
                        </div>
                        <div class="value">
                            <div class="small text-muted">Gruas del Valle</div>
                            <strong>Disponible</strong>
                        </div>
                        <div class="actions">
                            <button class="btn btn-link text-muted" type="button"><i class="icon-more"></i></button>
                        </div>
                      </li>
                    <li>
                        <i class="fa fa-car bg-warning"></i>
                        <div class="desc">
                            <div class="title">Andrés D.</div>
                            <small>012AGS23</small>
                        </div>
                        <div class="value">
                            <div class="small text-muted">Gruas del Valle</div>
                            <strong>En Servicio</strong>
                        </div>
                        <div class="actions">
                            <button class="btn btn-link text-muted" type="button"><i class="icon-more"></i></button>
                        </div>
                      </li>
                    <li>
                        <i class="fa fa-car bg-warning"></i>
                        <div class="desc">
                            <div class="title">Andrés D.</div>
                            <small>012AGS23</small>
                        </div>
                        <div class="value">
                            <div class="small text-muted">Gruas del Valle</div>
                            <strong>En Servicio</strong>
                        </div>
                        <div class="actions">
                            <button class="btn btn-link text-muted" type="button"><i class="icon-more"></i></button>
                        </div>
                      </li>
                    <li>
                        <i class="fa fa-car bg-success"></i>
                        <div class="desc">
                            <div class="title">Joel F.</div>
                            <small>012AGS23</small>
                        </div>
                        <div class="value">
                            <div class="small text-muted">Gruas del Valle</div>
                            <strong>Disponible</strong>
                        </div>
                        <div class="actions">
                            <button class="btn btn-link text-muted" type="button"><i class="icon-more"></i></button>
                        </div>
                      </li>
                    <li>
                        <i class="fa fa-car bg-success"></i>
                        <div class="desc">
                            <div class="title">Joel F.</div>
                            <small>012AGS23</small>
                        </div>
                        <div class="value">
                            <div class="small text-muted">Gruas del Valle</div>
                            <strong>Disponible</strong>
                        </div>
                        <div class="actions">
                            <button class="btn btn-link text-muted" type="button"><i class="icon-more"></i></button>
                        </div>
                      </li>
          <br>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Ant.</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Sig.</a></li>
          </ul>
                </ul>
              </div>
              
            </div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->

</div>
