<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-block">
            <div class="form-group row">
              <div class="col-md-8">
                <h5><i class="icon-people"></i> Usuarios Registrados</h5>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                   <input class="form-control" id="input1-group2" name="input1-group2" placeholder="Buscar Usuario" type="text">
                 <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i> Buscar</button>
                  </span>
                 <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><i class="fa fa-plus"></i> Nuevo</button>
                  </span>
                </div>
              </div>
            </div>
          <table class="table">
            <thead>
              <tr>
                <th>Usuario</th>
                <th>Fecha</th>
                <th>Estatus</th>
                <th>Campaña</th>
                <th>Servicios</th>
                <th>Restantes</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="#">Samppa Nori</a></td>
                <td>2012/01/01</td>
                <td>
                  <span style="padding:8px; min-width: 80px" class="badge badge-success">Activo</span>
                </td>
                <td><a href="#">Coppel</a></td>
                <td>1</td>
                <td>3</td>
                <td>
                            <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-outline-primary btn-clear" dropdownToggle>
              <i class="icon-options"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Ver Usuario</a>
              <a class="dropdown-item" href="#">Desactivar</a>
              <a class="dropdown-item" href="#">Restablecer Contraseña</a>
            </div>
          </div>
                </td>
              </tr>
              <tr>
                <td><a href="#">Estavan Lykos</a></td>
                <td>2012/02/01</td>
                <td>
                  <span style="padding:8px; min-width: 80px" class="badge badge-danger">Restringido</span>
                </td>
                <td><a href="#">AMEX</a></td>
                <td>1</td>
                <td>3</td>
                <td>
                            <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-outline-primary btn-clear" dropdownToggle>
              <i class="icon-options"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Ver Usuario</a>
              <a class="dropdown-item" href="#">Desactivar</a>
              <a class="dropdown-item" href="#">Restablecer Contraseña</a>
            </div>
          </div>
                </td>
              </tr>
              <tr>
                <td><a href="#">Chetan Mohamed</a></td>
                <td>2012/02/01</td>
                <td>
                  <span style="padding:8px; min-width: 80px" class="badge badge-default">Inactivo</span>
                </td>
                <td><a href="#">Coppel</a></td>
                <td>1</td>
                <td>3</td>
                <td>
                            <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-outline-primary btn-clear" dropdownToggle>
              <i class="icon-options"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Ver Usuario</a>
              <a class="dropdown-item" href="#">Desactivar</a>
              <a class="dropdown-item" href="#">Restablecer Contraseña</a>
            </div>
          </div>
                </td>
              </tr>
              <tr>
                <td><a href="#">Derick Maximinus</a></td>
                <td>2012/03/01</td>
                <td>
                  <span style="padding:8px; min-width: 80px" class="badge badge-primary">Pendiente</span>
                </td>
                <td><a href="#">ADO</a></td>
                <td>1</td>
                <td>3</td>
                <td>
                            <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-outline-primary btn-clear" dropdownToggle>
              <i class="icon-options"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Ver Usuario</a>
              <a class="dropdown-item" href="#">Desactivar</a>
              <a class="dropdown-item" href="#">Restablecer Contraseña</a>
            </div>
          </div>
                </td>
              </tr>
              <tr>
                <td><a href="#">Friderik Dávid</a></td>
                <td>2012/01/21</td>
                <td>
                  <span style="padding:8px; min-width: 80px" class="badge badge-success">Activo</span>
                </td>
                <td><a href="#">Volaris</a></td>
                <td>1</td>
                <td>3</td>
                <td>
                            <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-outline-primary btn-clear" dropdownToggle>
              <i class="icon-options"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Ver Usuario</a>
              <a class="dropdown-item" href="#">Desactivar</a>
              <a class="dropdown-item" href="#">Restablecer Contraseña</a>
            </div>
          </div>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Ant.</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Sig.</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
