// Bootstrap overrides

// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:                 #455A64;
$gray:                      #607D8B;
$gray-light:                #90A4AE;
$gray-lighter:              #CFD8DC;
$gray-lightest:             #ECEFF1;
$light:						#fff;

$brand-primary:             #300e4f;
$brand-success:             #09b83e;
$brand-info:                #E43A15;
$brand-warning:             #f53d3d;
$brand-danger:              #f86c6b;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-transitions:        true;
$enable-rounded:            false;

// Body
//
// Settings for the `<body>` element.

$body-bg:                   #e4e5e6;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base:            0.875rem;

// Breadcrumbs

$breadcrumb-bg:             #fff;

// Cards

$card-border-color:         $gray-lighter;
$card-cap-bg:               $gray-lightest;

// Dropdowns

$dropdown-padding-y:        0;
$dropdown-border-color:     $gray-lighter;
$dropdown-divider-bg:       $gray-lightest;

// Buttons

$btn-secondary-border:      $gray-light;

// Progress bars

$progress-bg:               $gray-lightest;

// Tables

$table-bg-accent:           $gray-lightest;
$table-bg-hover:            $gray-lightest;
